<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
			<md-icon md-font-icon="fa fa-bars"></md-icon>
		</md-button>
		<h1>My Goals</h1>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<md-list>
		<md-list-item ng-repeat="goal in vm.goals">
			<md-button ng-href="#/goals/category/{{ goal.category_id }}/goal/{{ goal.id }}/target/update/create" flex="100" style="text-transform: none; width: 100%" layout="row" layout-align="start center">
				<div layout="row" layout-align="space-between center">
					<div>
						<md-icon md-font-icon="fa fa-check-circle-o" ng-show="goal.completed"></md-icon>
						<md-icon md-font-icon="fa fa-circle-o" ng-hide="goal.completed"></md-icon>
					</div>
					<div flex>{{ goal.name }}</div>
					<div>&gt;</div>
				</div>
			</md-button>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
</md-content>
