<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
			<md-icon md-font-icon="fa fa-bars"></md-icon>
		</md-button>
		<h1>Goals</h1>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<md-card ng-repeat="category in vm.categories">
		<md-card-content>
			<h2 class="md-headline">{{ category.name }}</h2>
			<p class="md-body-3">{{ category.description }}</p>
		</md-card-content>
		<md-list ng-controller="GoalsCtrl as goals">
			<md-list-item ng-click="" ng-repeat="goal in category.goals">
				<md-checkbox class="md-secondary" ng-model="goal.in_progress" ng-change="vm.goalChanged(goal)"></md-checkbox>
				<p>{{ goal.name }}</p>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
		<div class="md-actions">
			<md-button class="md-accent" ng-href="#/goals/category/{{ category.id }}/goal/create">
				<md-icon md-font-icon="fa fa-plus"></md-icon> New Goal
			</md-button>
		</div>
	</md-card>
	<nav class="smu-button-bar" layout="row" layout-align="space-between center">
		<md-button class="md-raised md-accent" href="#/goals/category/create">
			<md-icon md-font-icon="fa fa-list"></md-icon> New Category
		</md-button>
		<md-button class="" href="#/goals/progress">
			<md-icon md-font-icon="fa fa-bar-chart"></md-icon> Progress
		</md-button>
	</nav>
</md-content>
