<!--
@author    Lien Mergan
@copyright Copyright © 2014-2015 Artevelde University College Ghent
-->

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
            <md-icon md-font-icon="fa fa-bars"></md-icon>
        </md-button>
        <h1>Users</h1>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <h2>Overview</h2>
    <table ng-controller="UsersCtrl">
        <thead>
        <tr>
            <th class="col-1">Username</th>
            <th class="col-2">First Name</th>
            <th class="col-3">Last Name</th>
        </tr>
        </thead>
        <tbody ng-repeat="user in users" ng-switch on="isSelUser(user)" ng-click="selUser(user,$index)">
        <tr ng-class="{sel:selIdx==$index}">
            <td>{{user.name}}</td>
            <td>{{user.given_name}}</td>
            <td>{{user.family_name}}</td>
            <td>
                <!--<md-button ng-controller="UserUpdateCtrl" ng-click="showDetail(user)">-->
                    <!--<md-icon md-font-icon="fa fa-pencil-square-o"></md-icon>-->
                <!--</md-button>-->
                <md-button ng-click="deleteUserSubject(user.id)">
                    <md-icon md-font-icon="fa fa-trash-o"></md-icon>
                </md-button>
            </td>
        </tr>
        <tr ng-switch-when="true">
            <td colspan="2">Id: {{user.id}}</td>
        </tr>
        <tr ng-switch-when="true">
            <td>Email: {{user.email}}</td>
        </tr>
        </tbody>
    </table>
</md-content>