/*
Created by: Team Unicorn — Gent
Date: 20/11/2014
Name: app.css
Description: css for the application
*/
/*font logo*/
@font-face{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/raleway/Raleway-Light.eot');
    src: url('../fonts/raleway/Raleway-Light.eot?iefix') format('eot'),
    url('../fonts/raleway/Raleway-Light.woff') format('woff'),
    url('../fonts/raleway/Raleway-Light.ttf') format('truetype'),
    url('../fonts/raleway/Raleway-Light.svg#Raleway-Light') format('svg');
}
:focus {
    outline: 0;
}
#welcomScreen
{
    background: inherit;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 7;
    opacity: 1;
}
#page404
{
    background: #41C4F2;
}
/* Navigation Menu - Background */
.navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin:0;

    /* non-critical appearance styles */
    list-style: none;
    background: rgba(200,200,200,.2);
}
/* Navigation Menu - List items */
.nav-item {
    /* non-critical appearance styles */
    width: 200px;
    border-bottom: 3px solid rgba(255,255,255,0);
}
.nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 1em;
    color: black;
    font-size: 1.2em;
    /*background: rgba(200,200,200,.5);*/
    text-decoration: none;
    -webkit-transition: color .3s, background 0.5s;
    -o-transition: color .3s, background 0.5s;
    -moz-transition: color .3s, background 0.5s;
    transition: color .3s, background 0.5s;
}
.nav-item.active,.nav-item a:hover{
    color: black;
    background: rgba(200,200,200,.5);
}
.nav-item a:hover i{
    color:black;
}
/* Site Wrapper - Everything that isn't navigation */
.container {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    display: none;
    /* non-critical apperance styles */
    padding: 4em;
    background-size: 200%;
}
.container.active {
    opacity:1;
    display: block;
}
/* Nav Trigger */
.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px; top: 15px;
    z-index: 2;
    /* non-critical apperance styles */
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#nav-toggle, {
    position: fixed;
}
#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#nav-toggle.navigatieActive span {
    background-color: transparent;
}
#nav-toggle.navigatieActive span:before, #nav-toggle.navigatieActive span:after {
    top: 0;
}
#nav-toggle.navigatieActive span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-toggle.navigatieActive span:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* Make the Magic Happen */
.nav-trigger + label, .container,#logo {
    -webkit-transition: left 0.2s;
    -o-transition: left 0.2s;
    -moz-transition: left 0.2s;
    transition: left 0.2s;
}
.nav-trigger:checked + label {
    left: 215px;
}
.nav-trigger:checked ~ .container,.nav-trigger:checked ~ #logo {
    left: 200px;
}
/*hexagon Design */
.lab_item {
    width: 200px;
    height: 230px;
    position: relative;
    display: inline-block;
}

.hexagon2 {
    position: absolute;
    width: 200px;
    height: 400px;
    top: -85px;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-in2 .priority
{
    position: relative;
    text-align: center;
    width: 10px;
    margin-left:-25px;
    margin-top:50px;
}
.hexagon-in2 svg
{
    position: absolute;
    text-align: center;
    width: 50px;
}
.hexagon-in2 i {
    text-align: center;
    width: 100%;
}
.hexagon:hover .sliderOptions {
    left:-100%;
}
.sliderOptions {
    -webkit-transition: left .5s;
    -o-transition: left .5s;
    -moz-transition: left .5s;
    transition: left .5s;
    left:0;
    position: relative;
}
.hexagon-in2 {
    /*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
    box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: red;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-in2 h3 {
    font-size:30px;
    margin-top:175px;
    text-align: center;
}
/*special width for first screen */
.homeScreen {
    width: 614px;
    margin: auto;
}
.lab article {
    width: 820px;
    margin: 0 auto;
}
.showOptions
{
    margin-right:4px;
}
.homeScreen .showOptions
{
    margin-right: auto;
}
/*position of the hexagons */
.homeScreen .lab_item:nth-child(5n-1) {
    margin-left: 102px;
}
.homeScreen .lab_item:nth-child(n+4) {
    margin-top: -62px;
}
.homeScreen .lab_item:nth-child(7n-2) {
    margin-left: 0px;
}
.homeScreen .lab_item:nth-child(n+5) {
    margin-top: -56px;
}
/*normale verhoudingen */
.lab_item:nth-child(7n-2) {
    margin-left: 101px;
}
.lab_item:nth-child(n+5) {
    margin-top: -55px;
    margin-right: 4px;
}
/* end of hexagondesign */

/* centreren vd categorie en lijst en deadlines */
#list-of-lists  h2,
#list-of-tasks h2,
#list-of-deadlines h2,
#list-of-finished-tasks h2{
    position: absolute;
    top: 155%;
    left: 50%;
    -webkit-transform: translate(-55%, -50%);
    -moz-transform: translate(-55%, -50%);
    -o-transform: translate(-55%, -50%);
    -ms-transform: translate(-55%, -50%);
    transform: translate(-55%, -50%);
}

.nottingToShow {
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: bold;
    overflow: visible;
    height: 5em;
}
.nottingToShow p {
    text-shadow: 0 0 150px black;
}
#logo {
    position: absolute;
    left: 30px;
    margin-left: 30px;
    z-index: 9;
    width: 16%;
    top:40px;
}
.logoCenter
{
    position: relative!important;
    left:25%!important;
    right:25%!important;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 50%!important;
    top:200px!important;

}
.pagename h1 {
    text-align: left;
    padding-left: 1.5em;
}
/*alertBox*/
.alert {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    margin:0;
    z-index: 5;
    background: rgba(0,0,0,.8);
    display: none;
}
.alert .alertbox {
    width: 300px;
    margin: calc(100%/12) auto 0 auto;
    height:70%;
    overflow-y:auto;
    background: rgba(255,255,255,.9);
    padding:30px;
    border-radius: 4px;
    /*new*/
    display: none;
}
.alert h4,
.alert p {
    line-height: 1.2em;
}
/*form design*/
#wrapperFormList {
    position:absolute;
    top: 35%;
    left: 30%;
    -webkit-transform: translate(-30%, -35%);
    -moz-transform: translate(-30%, -35%);
    -o-transform: translate(-30%, -35%);
    -ms-transform: translate(-30%, -35%);
    transform: translate(-30%, -35%);
}
.add {
    position:absolute;
    display:block;
    top:56%;
    left:37%;
    transform: translate(-56%, -37%);
    -webkit-transform: translate(-30%, -35%);
    -moz-transform: translate(-30%, -35%);
    -o-transform: translate(-30%, -35%);
    -ms-transform: translate(-30%, -35%);
    transform: translate(-30%, -35%);
}
#list-details {
    position:absolute;
    top:55%;
    left:30%;
}
#selectCategories {
    margin-top: 10px;
}
#selectCategoriesTask{
    margin-top: 10px;
}
select
{
    background: #DBD9D3;
    border: none;
    margin: 10px 0 20px 0;
}
.priority-settings div
{
    margin: 4px 0;
}
.date div{
    margin-top: 4px;
}
#categories-tasks{
    margin-left: 10%;
}
#txtTitleList, #txtCategoryList {
    width: 300px;
    background-color: #DBD9D3;
}
#txtTitleTask, #txtCategory, #txtDescriptionTask, #txtCategoryTask {
    width: 300px;
    background-color: #DBD9D3;
    position: relative;
    left: 10%;
    padding:5px;

}
#txtDescriptionTask{
max-width: 100%;
min-width: 50%;
max-height: 300px;
min-height: 200px;
}
#formTaskCreate h2 {
    position: relative;
    left:10%;
}
#description, #txtCategory{
    margin-top: 3%;
}
.selectList, #lblDate {
    margin-left: 10%;
    margin-top: 10px;
}
/*system pannel design*/
.systemPannel {
    width: calc(100%/3);
    height: 100%;
    position: absolute;
    left: calc(100% + ( 100% /3 ));
    background: rgba(200,200,200,.2);
    top:0;
    padding: 90px 4%;
    display: block;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    overflow: auto;
}
.settingsModule input[type='radio'] {
    position: absolute;
    left: -9999px;
}
.settingsModule label {
    display: inline-block;
    cursor: pointer;
    margin-top: 1em;
}
.settingsModule img {
    width: 100%;
    border: 3px solid white;
}
input[type='text'] {
    border: none;
    background: rgba(255,255,255,0.5);
    padding: .7em;
}
.settingsModule input[type='text'] {
    width: 50px;
}
.systemPannelShow {
    left: calc( 100% - ( 100% / 3));
}
/* close button */
.closePannel {
    position: absolute;
    right: 10px;
    top:30px;
    cursor: pointer;
    padding: 15px 35px 21px 0px;
}
.closePannel span, .closePannel span:before, .closePannel span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    position: absolute;
    display: block;
    content: '';
}
.closePannel span:before {
    top: -10px;
}
.closePannel span:after {
    bottom: -10px;
}
.closePannel span {
    background-color: transparent;
}
.closePannel  span:before,.closePannel  span:after {
    top: 0;
}
.closePannel  span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.closePannel  span:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*instellingspanelen WeeZee */
.inputFields {
    background: rgba(255,255,255,.3);
    padding: 5px;
    overflow: auto;
    min-height: 1.5em;
    border-radius: 3px;
    outline: none;
    margin: 1em 0;
    width: 100%;
}
span.inputFields {
    line-height: 2em;
}
/*responsive design*/
@media (max-width: 1400px) {
    #logo {
        margin-top:-70px;
        margin-left:50px;
        width: 14%;
    }
    .pagename h1{
        padding-left: 7em;
    }
}
@media (max-width: 1200px) {
    #logo {
         margin-top:-110px;
         width: 15%;
     }
}
@media (max-width: 1015px) {
    .lab {
        width: 100%;
    }
    #logo
    {
        width: 10%;
    }
}

@media (max-width: 820px) {
    .lab_item:nth-child(5n-1) {
        margin-left: 102px;
    }
    .lab_item:nth-child(n+4) {
        margin-top: -62px;
    }
    .lab_item:nth-child(7n-2) {
        margin-left: 0px;
    }
    .lab_item:nth-child(n+5) {
        margin-top: -56px;
        margin-right: 2px;
    }
    .lab article {
        width: 610px;
    }
    .systemPannel {
        width: calc(70%);
        left: calc(100% + 70%);
        background: rgba(255,255,255,.6);
    }
    .systemPannelShow {
        left: calc( 100% - 70%);
    }
    .showOptions
    {
        margin-right:2px;
    }
}

@media (max-width: 640px) {
    .lab article {
        width: 405px;
    }
    .lab_item:nth-child(5n-1) {
        margin-left: 0px;
    }
    .lab_item:nth-child(3n) {
        margin-left: 102px;
    }
    .lab_item:nth-child(n+3) {
        margin-top: -56px;
    }
    #logo {
        margin-top:10px;
        margin-left:-30px;
        width: 120px;
        height: 120px;
    }
    .alert .alertbox {
        margin: calc(100%/6) auto 0 auto;
    }
    .pagename h1{
        padding-left: 1.5em;
    }
}

@media (max-width: 450px) {
    .lab article {
        width: 300px;
    }
    .lab_item:nth-child(3n) {
        margin-left: 0px;
    }
    .lab_item:nth-child(2n) {
        margin-left: 102px;
    }
    .lab_item:nth-child(n+2) {
        margin-top: -56px;
    }
    .container
    {
        padding:0;
        padding-top: 5em;
    }
    .pagename
    {
        margin-left:5em;
    }
    .alert .alertbox {
        margin: calc(100%/3) auto 0 auto;
        height: 60%;
        width: 90%;
    }
    .alert .alertbox .closeAlert
    {
        margin-left:50%;
        margin-right: 0;
        width:40%;
        padding:6% 5%;
    }
}