.actionButtons {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 100%;
    top:65%;
}
.actionButtons i {
    text-align:left;
    width: auto !important;
    cursor: pointer;
}
.actionButtons i.edit {
    position: relative;
    top:-75px;
    width: 75px;
}
#btnAddTask {
    height:30px;
    width:30px;
    position:absolute;
    top: 55%;
    left: 28%;
    -webkit-transform: translate(-50%, -28%);
    -moz-transform: translate(-50%, -28%);
    -o-transform: translate(-50%, -28%);
    -ms-transform: translate(-50%, -28%);
    transform: translate(-50%, -28%);
}
#btnCategorySubmitTask
{
    margin-left: 10%;
    clear: both;
    margin-top:2%;
    display: block;
}
#btnListSubmit {
    height: 50px;
    width: 150px;
}
#btnTaskSubmit {
    height: 60px;
    width: 150px;
    margin-left: 10%;
    margin-top:2%;
}
#btnCategorySubmit {
    height: 60px;
    width: 150px;
    text-align: center;
}
.btn {
    display:inline-block;
}
button {
    border: none;
    padding:1em 2em;
    border:3px solid rgba(255,255,255,1);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}