/*
Created by: Unicorn — Gent
Date: 20/11/2014
Name: font04.css
Description: font 4 of WeeZee
*/
/*import Ubuntu normal and bold*/
@font-face{
    font-family: 'Dyslexie';
    font-style: normal;
    src: url('../fonts/dyslexie/dyslexie_regular.eot');
    src: url('../fonts/dyslexie/dyslexie_regular.eot?iefix') format('eot'),
    url('../fonts/dyslexie/dyslexie_regular.woff') format('woff'),
    url('../fonts/dyslexie/dyslexie_regular.woff2') format('woff2'),
    url('../fonts/dyslexie/dyslexie_regular.ttf') format('truetype'),
    url('../fonts/dyslexie/dyslexie_regular.svg#dyslexieregular') format('svg');
}
body{
    font-family: 'Dyslexie', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
}