/*
Created by: Unicorn — Gent
Date: 20/11/2014
Name: font03.css
Description: font 3 of WeeZee
*/
/*import Ubuntu normal and bold*/
@font-face{
    font-family: 'Caviar Dreams';
    font-style: normal;
    src: url('../fonts/caviar-dreams/caviardreams_regular/CaviarDreams-webfont.eot');
    src: url('../fonts/caviar-dreams/caviardreams_regular/CaviarDreams-webfont.eot?iefix') format('eot'),
    url('../fonts/caviar-dreams/caviardreams_regular/CaviarDreams-webfont.woff') format('woff'),
    url('../fonts/caviar-dreams/caviardreams_regular/CaviarDreams-webfont.ttf') format('truetype'),
    url('../fonts/caviar-dreams/caviardreams_regular/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
}
@font-face{
    font-family: 'Caviar Dreams';
    font-style: bold;
    src: url('../fonts/caviar-dreams/caviardreams_bold/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/caviar-dreams/caviardreams_bold/Caviar_Dreams_Bold-webfont.eot?iefix') format('eot'),
    url('../fonts/caviar-dreams/caviardreams_bold/Caviar_Dreams_Bold-webfont.woff') format('woff'),
    url('../fonts/caviar-dreams/caviardreams_bold/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
    url('../fonts/caviar-dreams/caviardreams_bold/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
}
@font-face{
    font-family: 'Caviar Dreams';
    font-style: italic;
    src: url('../fonts/caviar-dreams/caviardreams_italic/CaviarDreams_Italic-webfont.eot');
    src: url('../fonts/caviar-dreams/caviardreams_italic/CaviarDreams_Italic-webfont.eot?iefix') format('eot'),
    url('../fonts/caviar-dreams/caviardreams_italic/CaviarDreams_Italic-webfont.woff') format('woff'),
    url('../fonts/caviar-dreams/caviardreams_italic/CaviarDreams_Italic-webfont.ttf') format('truetype'),
    url('../fonts/caviar-dreams/caviardreams_italic/CaviarDreams_Italic-webfont.svg#caviar_dreamsitalic') format('svg');
}
body{
    font-family: 'Caviar Dreams', sans-serif;
    line-height: 16px;
    font-size: 16px;
}