/*
Created by: Unicorn — Gent
Date: 20/11/2014
Name: font01.css
Description: font 1 of WeeZee
*/
/*import Open Sans normal and bold semibold*/
@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.eot?iefix') format('eot'),
    url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}
@font-face{
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 600;
    src: url('../fonts/caviar-dreams/opensans_bold/OpenSans-Bold-webfont.eot');
    src: url('../fonts/caviar-dreams/opensans_bold/OpenSans-Bold-webfont.eot?iefix') format('eot'),
    url('../fonts/open-sans/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/open-sans/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
}
@font-face{
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold-webfont.eot?iefix') format('eot'),
    url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 16px;
    font-size: 16px;
}