/*
Created by: Unicorn — Gent
Date: 20/11/2014
Name: font02.css
Description: font 2 of WeeZee
*/
/*import Ubuntu normal and bold*/
@font-face{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu/ubuntu_regular/ubuntu.eot');
    src: url('../fonts/ubuntu/ubuntu_regular/ubuntu.eot?iefix') format('eot'),
    url('../fonts/ubuntu/ubuntu_regular/ubuntu.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu_regular/ubuntu.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu_regular/ubuntu.svg#ubunturegular') format('svg');
}
@font-face{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu/ubuntu_medium/OpenSans-Bold-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu_medium/OpenSans-Bold-webfont.eot?iefix') format('eot'),
    url('../fonts/ubuntu/ubuntu_medium/ubuntu-medium.woff') format('woff'),
    url('../fonts/ubuntu/ubuntu_medium/ubuntu-medium.ttf') format('truetype'),
    url('../fonts/ubuntu/ubuntu_medium/ubuntu-medium.svg#ubuntumedium') format('svg');
}
body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 16px;
    font-size: 16px;
}