/*
Created by: Unicorn — Gent
Date: 20/11/2014
Name: theme1.css
Description: theme 1 of WeeZee
*/
/*import Open Sans normal and bold*/
/*
    paars       rgba(72,89,149,1);
    lichtblauw  rgba(44,139,171,1);
    oranje      rgba(222,98,58,1);
    lichtgroen  rgba(142,194,100,1);
    vuilwit     rgba(206,204,191,1);

*/
body,.container{
    background: rgba(44,139,171,1);
}
::selection{
    background: rgba(206,204,191,1);
    color:rgba(206,204,191,1)!important;
}
.hexagon-in2,.hexagon-in2 h3,.hexagon-in2 i,.closePannel span:before,.closePannel span:after,#nav-toggle span,#nav-toggle span:before,#nav-toggle span:after{
    background: rgba(222,98,58,1);
}
#logo polygon
 {
    fill: rgba(222,98,58,1);
 }
#logo text,
#logo line
{
    fill: rgba(206,204,191,1);
    stroke: rgba(206,204,191,1);
}
h1
{
    font-size: 32px;
    color: rgba(142,194,100,1);
}
h2
{
    font-size: 20px;
    color: rgba(72,89,149,1);
}
h3,h4,h5,h6
{
    color: rgba(206,204,191,1);
}
p,a,a:link,a:hover,a:active,a:visited,b,i,blockquote
{
    color: rgba(206,204,191,1);
}
button
{
    background: rgba(222,98,58,1);
    color: rgba(72,89,149,1);
}
input
{
    color: rgba(72,89,149,1);
}
.inputFields
{
    height: 10px;
    color: rgba(72,89,149,1);
}
