/*
Created by: Unicorn — Gent
Date: 20/11/2014
Name: theme2.css
Description: theme 2 of WeeZee
*/
/*import Ubuntu normal and bold*/
/*
    bruin       rgba(106,60,78,1);
    groen       rgba(66,115,83,1);
    vuilwit     rgba(227,224,219,1);
    oranje      rgba(194,129,90,1);
    rood        rgba(163,84,83,1);
    zwart       rgba(37,37,40,1);

*/
body,.container{
    background: rgba(227,224,219,1);
}
::selection{
    background: rgba(194,129,90,1);
    color: rgba(106,60,78,1);
}
.hexagon-in2,.hexagon-in2 h3,.hexagon-in2 i,.closePannel span:before,.closePannel span:after,#nav-toggle span,#nav-toggle span:before,#nav-toggle span:after{
    background: rgba(106,60,78,1);
    color: rgba(227,224,219,1);
}
#logo polygon
{
    fill: rgba(106,60,78,1);
}
#logo text,
#logo line
{
    fill: rgba(227,224,219,1);
    stroke: rgba(227,224,219,1);
}
h1
{
    font-size: 32px;
    color: rgba(106,60,78,1);
}
h2
{
    font-size: 20px;
    color: rgba(194,129,90,1);
}
h3,h4,h5,h6
{
    color: rgba(66,115,83,1);
}
p,a,a:link,a:hover,a:active,a:visited,b,i,blockquote
{
    color: rgba(194,129,90,1);
}
button
{
    background: rgba(163,84,83,1);
    color: rgba(227,224,219,1);
}
#btnListSubmit{
    width: 100px;
    position:absolute;
    top: 95%;
    left: 13%;
    transform: translate(-95%, -13%);
}
input
{
    color: rgba(37,37,40,1);
}
.inputFields
{
    color: rgba(37,37,40,1);
}
#txtTitleList, #txtCategoryList{
    width: 300px;
    background-color: #DBD9D3;
}