/*
Created by: Unicorn — Gent
Date: 20/11/2014
Name: theme3.css
Description: theme 3 of WeeZee
*/
/*import Ubuntu normal and bold*/
/*
    lichtrood   rgba(205,13,52,1);
    donkerrood  rgba(181,4,71,1);
    paars       rgba(134,37,114,1);
    groen       rgba(153,196,45,1);
    geel        rgba(225,168,33,1);
    vuilwit     rgba(206,204,191,1);
    zwart       rgba(37,37,40,1);

*/
body,.container{
    background: rgba(153,196,45,1);

}
::selection{
    background: rgba(181,4,71,1);
    color: rgba(206,204,191,1);
}
.hexagon-in2,.hexagon-in2 h3,.hexagon-in2 i,.closePannel span:before,.closePannel span:after,#nav-toggle span,#nav-toggle span:before,#nav-toggle span:after{
    background: rgba(181,4,71,1);
    color: rgba(225,168,33,1);
}
#logo polygon
{
    fill: rgba(181,4,71,1);
}
#logo text,
#logo line
{
    fill: rgba(225,168,33,1);
    stroke: rgba(225,168,33,1);
}
h1
{
    font-size: 32px;
    color: rgba(205,13,52,1);
}
h2
{
    font-size: 20px;
    color: rgba(134,37,114,1);
}
h3,h4,h5,h6
{
    color: rgba(205,13,52,1);
    font-style: normal;
}
p,a,a:link,a:hover,a:active,a:visited,b,i,blockquote
{
    color: rgba(206,204,191,1);
}
button
{
    background: rgba(134,37,114,1);
    color: #DBD9D3;
}
#btnListSubmit{
    width: 100px;
    position:absolute;
    top: 95%;
    left: 12%;
    transform: translate(-95%, -12%);
}
input
{
    color: rgba(37,37,40,1);
}
.inputFields
{
    color: rgba(37,37,40,1);
}
#txtTitleList, #txtCategoryList{
    width: 300px;
    background-color: #DBD9D3;
}