/*iCheck*/
div.icheckbox_flat-orange{
    position: relative;
    float:left;
}

/*Ingredients page*/
.ingredients-wrapper-left{
    margin-top: 20px;
}

.ingredients-wrapper-right{
    margin-top: 95px;
}

#shopping-list{
    width: 415px;
    height: 415px;
    background-color: lightgray;
    margin-left: 40px;
}

#submitShoppingList{
    margin-top: 10px;
}

#printShoppingList{
    margin-top: 370px;
}

/*Cooking page*/
.grey{
    color:#2e2e32;
    font-size: 16px;
}
#cooking-title{
    margin-top: 20px;
    color:white;
}
.grey-background{
    background-color: lightgray;
    opacity: 0.8;
}

/*Nice to know page*/
.iconbox-title {
    font: 700 28px/1.2 'nexa_rust_sansblack';
    margin: 0 0 18px;
}

.iconbox {
    background: #fae7d7;
    text-align: center;
    padding: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.iconbox-body {
    border: 1px solid rgba(0,0,0,.1);
    padding: 25px 10px;
}

.iconbox-icon {
    color: #000;
    font-size: 32px;
    margin-bottom: 25px;
}

.iconbox-title {
    color: #000;
    margin: 0 0 15px;
    padding: 0;
}

.iconbox-desc {
    font-size: 15px;
}

.overlay .fluidbox-overlay{
    background-color:rgba(0,0,0,.85);
}

/*Play the game page*/
#my-memorygame{
    width:969px;
    margin:auto;
}
.font {
    font: 700 28px/1.2 'nexa_rust_sansblack';
}


