@font-face {
  font-family: 'nexa_rust_extrasfree';
  src: url('../fonts/nexa/nexarustextras-free-webfont.eot');
  src: url('../fonts/nexa/nexarustextras-free-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexarustextras-free-webfont.woff2') format('woff2'), url('../fonts/nexa/nexarustextras-free-webfont.woff') format('woff'), url('../fonts/nexa/nexarustextras-free-webfont.ttf') format('truetype'), url('../fonts/nexa/nexarustextras-free-webfont.svg#nexa_rust_extrasfree') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nexa_rust_sansblack';
  src: url('../fonts/nexa/nexarustsans-black-webfont.eot');
  src: url('../fonts/nexa/nexarustsans-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexarustsans-black-webfont.woff2') format('woff2'), url('../fonts/nexa/nexarustsans-black-webfont.woff') format('woff'), url('../fonts/nexa/nexarustsans-black-webfont.ttf') format('truetype'), url('../fonts/nexa/nexarustsans-black-webfont.svg#nexa_rust_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nexa_rust_script_l0regular';
  src: url('../fonts/nexa/nexarustscriptl-0-webfont.eot');
  src: url('../fonts/nexa/nexarustscriptl-0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa/nexarustscriptl-0-webfont.woff2') format('woff2'), url('../fonts/nexa/nexarustscriptl-0-webfont.woff') format('woff'), url('../fonts/nexa/nexarustscriptl-0-webfont.ttf') format('truetype'), url('../fonts/nexa/nexarustscriptl-0-webfont.svg#nexa_rust_script_l0regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.text-muted {
  color: #f7f7f7;
}
.text-primary {
  color: #ff6c00;
}
.text-danger {
  color: #e74c3c;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-family: 'Old Standard TT', serif;
  font-size: 14px;
  line-height: 1.75;
}
.alert {
  font-family: 'Old Standard TT', serif;
  font-size: 14px;
  line-height: 1.75;
}
.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color: #cc5600;
}
a {
  color: #ff6c00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.section-heading,
.section-subheading {
  font-weight: normal;
}
.section-heading {
  font-family: 'nexa_rust_sansblack', sans-serif;
  color: #2e2e32;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 15px;
}
.section-subheading {
  font-family: 'nexa_rust_script_l0regular', sans-serif;
  font-size: 32px;
  color: #2e2e32;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 150px;
}
.section-icon {
  font-family: 'nexa_rust_extrasfree', sans-serif;
  font-size: 250px;
  color: white;
  display: block;
  margin-top: -100px;
}
section {
  padding: 100px 0;
}
section .section-divider {
  display: block;
  font-family: 'nexa_rust_extrasfree', sans-serif;
  font-size: 50px;
  color: #ff6c00;
  margin: 35px 0;
}
section .page-scroll .fa {
  color: #2e2e32;
  font-size: 40px;
  display: block;
  text-align: center;
  margin: 55px 0;
}
section .page-scroll:hover {
  text-decoration: none;
}
section i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.btn-primary {
  color: #ffffff;
  background-color: #ff6c00;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #cc5600;
  border-color: #c25200;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ff6c00;
  border: 0;
}
.btn-primary .badge {
  color: #ff6c00;
  background-color: #ffffff;
}
.btn-xl {
  color: #ffffff;
  background-color: #ff6c00;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #cc5600;
  border-color: #c25200;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #ff6c00;
  border: 0;
}
.btn-xl .badge {
  color: #ff6c00;
  background-color: #ffffff;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 15px;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}
.navbar-default {
  background-color: #e0ded9;
  border-color: transparent;
  border-radius: 0;
  position: relative;
}
.navbar-default .navbar-brand {
  position: absolute;
  display: block;
  top: 0px !important;
  width: 180px;
  left: 50%;
  margin-left: -90px !important;
  /* 50% of .navbar-brand width */

  text-align: center;
}
.navbar-default .navbar-brand img {
  margin: 0 auto;
  display: block;
}
.navbar-default .navbar-brand span {
  display: block;
  color: #2e2e32;
  font-family: 'nexa_rust_script_l0regular', sans-serif;
  font-size: 32px;
  margin-top: 25px;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #ff6c00;
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff6c00;
}
.navbar-default .nav li a {
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2e2e32;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #ff6c00;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #ff6c00;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #cc5600;
}
.navbar-shrink {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
header {
  text-align: center;
  color: white;
}
header .carousel,
header .item,
header .active,
header .carousel-inner {
  height: 100%;
}
header .item .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: absolute;
  z-index: -1;
}
header .item .row,
header .item .col-sm-8 {
  height: 100%;
}
header .item .slide-content {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -250px;
  top: 50%;
}
header .carousel-control .fa {
  z-index: 5;
  display: inline-block;
  font-size: 100px;
}
header img {
  max-width: 100%;
  height: auto;
}
header .btn-circle {
  position: absolute;
  bottom: 5%;
  width: 70px;
  height: 70px;
  padding: 7px 16px;
  border: 2px solid #ffffff;
  border-radius: 35px;
  font-size: 40px;
  left: 50%;
  margin-left: -35px;
  color: #ffffff;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
header .btn-circle:hover,
header .btn-circle:focus {
  outline: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
header .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
header .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
#intro .section-heading {
  max-width: 650px;
  margin: 0 auto;
}
#intro .section-subheading {
  max-width: 420px;
  margin: 0 auto;
}
#intro .section-subheading span {
  font-size: 52px;
}
#intro .page-scroll {
  margin-top: 50px;
  display: block;
}
#unique {
  z-index: 1;
  color: #fff;
  padding: 25px 0;
  background: no-repeat center center scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#unique .section-heading,
#unique .section-subheading {
  color: #fff;
  font-size: 35px;
}
#unique .section-subheading {
  font-family: 'Old Standard TT', serif;
  font-weight: bold;
  font-style: normal;
}
#unique .fa {
  color: #fff;
}
#ingredients {
  background: #e0ded9;
}
#ingredients a {
  color: #2e2e32;
}
#ingredients a:hover {
  color: #ff6c00;
  text-decoration: none;
}
#ingredients ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'nexa_rust_sansblack', sans-serif;
  font-size: 26px;
  color: #f7f7f7;
}
#ingredients ul li {
  margin-top: 15px;
  margin-bottom: 15px;
}
#nice-to-know{
  background:#e0ded9;
}
#contact .signup_form {
  margin-top: 55px;
  margin-bottom: 55px;
}
#contact .signup_form p {
  margin: 25px 0;
}
#contact .signup_form .text-danger ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#contact {
  background-color: #e0ded9;
  padding: 100px 0;
}
#contact .contact-details {
  padding: 50px 0;
}
#contact .contact-details p {
  font: bold 22px 'Old Standard TT', serif;
}
#contact .contact-details .section-subheading {
  font-family: 'nexa_rust_sansblack', sans-serif;
  font-size: 25px;
  font-style: normal;
  margin-bottom: 25px;
  position: relative;
}
#contact .contact-details .section-subheading span {
  font-family: 'nexa_rust_extrasfree', sans-serif;
  font-size: 50px;
  color: #ff6c00;
  font-weight: normal;
}
#contact .contact-details .section-subheading:after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 20px;
  border-bottom: 2px solid #ff6c00;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#contact .form-group {
  margin-bottom: 25px;
}
#contact .form-group input,
#contact .form-group textarea {
  padding: 20px;
}
#contact .form-group input.form-control {
  height: auto;
}
#contact .form-group textarea.form-control {
  height: 236px;
}
#contact .form-control:focus {
  border-color: #ff6c00;
  box-shadow: none;
}
#contact ::-webkit-input-placeholder {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
#contact :-moz-placeholder {
  /* Firefox 18- */

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
#contact ::-moz-placeholder {
  /* Firefox 19+ */

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
#contact :-ms-input-placeholder {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
#contact .text-danger {
  color: #e74c3c;
}
#contact .btn {
  margin-bottom: 15px;
}
.footer {
  padding: 80px 0;
  color: rgba(255, 255, 255, 0.7);
  background-color: #2e2e32;
}
.footer a {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'nexa_rust_script_l0regular', sans-serif;
  font-size: 18px;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.footer p {
  margin: 0;
}
.footer .copyright .small {
  font-size: 14px;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  color: #ff6c00;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  color: #000000;
}
.popup-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  text-align: center;
  background: #e0ded9;
  padding: 100px 0;
}
.popup-modal .modal-content .section-icon {
  font-size: 90px;
  color: #2e2e32;
}
.popup-modal .modal-content h3 {
  margin-bottom: 75px;
}
.popup-modal .modal-content p {
  margin-bottom: 30px;
}
.popup-modal .modal-content .item-intro {
  margin: 20px 0 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.popup-modal .modal-content .list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.popup-modal .modal-content img {
  margin-bottom: 30px;
}
.close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 9999;
}
.close-modal:hover {
  opacity: 0.3;
}
.close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2e2e32;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */

  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */

  z-index: 1051;
}
.close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2e2e32;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */

  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */

  z-index: 1052;
}
.loading-screen {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  position: fixed;
  text-align: center;
}
.loading-screen .fa {
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
}
.loading-screen h2 {
  font-size: 24px;
  color: #f7f7f7;
}
.loading-screen h3 {
  color: #f7f7f7;
}
.loading-screen .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -150px;
}
@media (max-width: 1024px) {
  .navbar-brand {
    max-width: 210px;
  }
}
@media (max-width: 768px) {
  header #hero-carousel .item,
  #unique {
    background-attachment: scroll;
  }
  .navbar-nav {
    margin: 0;
  }
}
@media (max-width: 991px) {
  .navbar-default .navbar-brand {
    display: none;
  }
  .navbar-default .nav li a {
    font-size: 18px;
  }
  .navbar-right {
    float: left;
  }
  .nav > li > a {
    padding: 10px 20px;
  }
}
@media (max-width: 480px) {
  #intro .section-heading {
    font-size: 32px;
    max-width: 100%;
  }
  #intro .section-subheading {
    font-size: 24px;
    max-width: 100%;
  }
  #intro .section-subheading span {
    font-size: 28px;
  }
  #unique .section-heading {
    font-size: 24px;
    max-width: 100%;
  }
  #unique .section-subheading {
    font-size: 18px;
  }
  .modal-content .section-heading {
    font-size: 32px;
  }
  header .carousel-inner .item .slide-content {
    margin-top: -50%;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    top: -40px;
  }
  .navbar-default .navbar-brand img {
    max-width: 150px;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .iconbox {
    margin: 10px 0;
  }
}
