<!--
@author    Lien Mergan
@copyright Copyright © 2014-2015 Artevelde University College Ghent
-->

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
            <md-icon md-font-icon="fa fa-bars"></md-icon>
        </md-button>
        <h1>Create a new ride</h1>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <form name="ride_creation_form">
        <md-input-container>
            <label>Username</label>
            <input type="text" name="name" ng-model="vm.user.name" required>
            <ng-messages for="ride_creation_form.name.$error">
                <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
            </ng-messages>
        </md-input-container>

        <div class="form-group">
            <label for="from" class="col-sm-2 control-label">From:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.ride.ride_from" id="from"/>
            </div>
        </div>
        <div class="form-group">
            <label for="to" class="col-sm-2 control-label">To:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.ride.ride_to" id="to"/>
            </div>
        </div>
        <div class="form-group">
            <label for="starttime" class="col-sm-2 control-label">Start time:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.ride.ride_starttime" id="starttime"/>
            </div>
        </div>
        <div class="form-group">
            <label for="endtime" class="col-sm-2 control-label">End time:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.ride.ride_endtime" id="endtime"/>
            </div>
        </div>
        <div class="form-group">
            <label for="ride_price" class="col-sm-2 control-label">Price:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.ride.ride_price" id="ride_price"/>
            </div>
        </div>
        <div class="form-group">
            <label for="ride_comments" class="col-sm-2 control-label">Comments:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.ride.ride_comment" id="ride_comments"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Save" ng-click="vm.processFormStep($event)"/>
            </div>
        </div>
    </form>
</md-content>


