<!--
@author    Lien Mergan
@copyright Copyright © 2014-2015 Artevelde University College Ghent
-->

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
            <md-icon md-font-icon="fa fa-bars"></md-icon>
        </md-button>
        <h1>Rides</h1>
    </div>
</md-toolbar>
<md-content>
    <section layout="row" layout-sm="column" layout-align="center center">
        <ul>
            <li class="md-button md-raised md-accent md-default-theme menu"><a href ng-click="tab = 1">ALL</a></li>
            <li class="md-button md-raised md-accent md-default-theme menu"><a href ng-click="tab = 2">YOU</a></li>
            <li class="md-button md-raised md-accent md-default-theme menu"><a href="#/rides/create">ADD</a></li>
        </ul>
    </section>
</md-content>
<md-content class="md-padding" ng-show="tab === 1">
    <h2>Overview</h2>
    <div ng-controller="RidesCtrl as rides" >
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Ride id</td>
                <td>From</td>
                <td>To</td>
                <td>Start-time</td>
                <td>End-time</td>
            </tr>
            </thead>
            <tr ng-repeat="ride in rides">
                <td>{{ ride.id }}</td>
                <td>{{ ride.ride_from }}</td>
                <td>{{ ride.ride_to  }}</td>
                <td>{{ ride.ride_starttime }}</td>
                <td>{{ ride.ride_endtime }}</td>
            </tr>
        </table>
    </div>
</md-content>

<md-content class="md-padding" ng-show="tab === 2">
    <h2>Uw ritten</h2>
</md-content>