<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
			<md-icon md-font-icon="fa fa-bars"></md-icon>
		</md-button>
		<h1>Add New Category</h1>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<form action="" name="category_form">
        <md-input-container>
            <label>Username</label>
            <input type="text" name="name" ng-model="vm.category.name" required>
            <ng-messages for="category_form.name.$error">
                <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
            </ng-messages>
        </md-input-container>
        <div layout="row" layout-sm="column">
            <md-input-container flex>
                <label>Category description</label>
                <textarea ng-model="vm.category.description" name="description" columns="1" md-maxlength="140" required></textarea>
                <ng-messages for="category_form.description.$error">
                    <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                </ng-messages>
            </md-input-container>
        </div>
	</form>
    <footer layout layout-align="space-between end">
        <md-button class="md-raised md-accent" ng-click="vm.save($event)">
            <md-icon md-font-icon="fa fa-cloud-upload"></md-icon> Save
        </md-button>
    </footer>
</md-content>
