@import "variables.scss";
@import "mixins.scss";

// ----------------------
// Foodster LESS
// ----------------------
// Table of Contents
// ----------------------
// 1. Fonts
// 2. Animation
// 3. Global Components
// 4. Global Section Styles
// 5. Buttons
// 6. Dining Club
// 7. Navigation Bar
// 8. Header
// 9. Introduction
// 10. Unique
// 11. Restaurants
// 12. Menus
// 13. Book a table
// 14. Gallery
// 15. Contact
// 16. Google Maps
// 17. Footer
// 18. Social buttons
// 19. Modal
// 20. Loading Screen
// 21. Media Queries
// ----------------------


// ----------------------
// 1. Fonts
// ----------------------

// Nexa Rust Extras
@font-face {
    font-family: 'nexa_rust_extrasfree';
    src: url('../fonts/nexa/nexarustextras-free-webfont.eot');
    src: url('../fonts/nexa/nexarustextras-free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa/nexarustextras-free-webfont.woff2') format('woff2'),
         url('../fonts/nexa/nexarustextras-free-webfont.woff') format('woff'),
         url('../fonts/nexa/nexarustextras-free-webfont.ttf') format('truetype'),
         url('../fonts/nexa/nexarustextras-free-webfont.svg#nexa_rust_extrasfree') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Nexa Rust Sans Black
@font-face {
    font-family: 'nexa_rust_sansblack';
    src: url('../fonts/nexa/nexarustsans-black-webfont.eot');
    src: url('../fonts/nexa/nexarustsans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa/nexarustsans-black-webfont.woff2') format('woff2'),
         url('../fonts/nexa/nexarustsans-black-webfont.woff') format('woff'),
         url('../fonts/nexa/nexarustsans-black-webfont.ttf') format('truetype'),
         url('../fonts/nexa/nexarustsans-black-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Nexa Rust Script Regular
@font-face {
    font-family: 'nexa_rust_script_l0regular';
    src: url('../fonts/nexa/nexarustscriptl-0-webfont.eot');
    src: url('../fonts/nexa/nexarustscriptl-0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa/nexarustscriptl-0-webfont.woff2') format('woff2'),
         url('../fonts/nexa/nexarustscriptl-0-webfont.woff') format('woff'),
         url('../fonts/nexa/nexarustscriptl-0-webfont.ttf') format('truetype'),
         url('../fonts/nexa/nexarustscriptl-0-webfont.svg#nexa_rust_script_l0regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Helper classes

.text-muted {color: $gray;}
.text-primary {color: $brand-primary;}
.text-danger {color: $brand-danger;}

// Animation

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

// Global Components

body {
    overflow-x: hidden;
    .body-font;
}

p {
    font-family: $body-font;
    font-size: 14px;
    line-height: 1.75;
}

.alert {
    font-family: $body-font;
    font-size: 14px;
    line-height: 1.75;
}

.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
    color: darken($brand-primary, 10%);
}

a {
    color: $brand-primary;
}

h1, h2, h3, h4, h5, h6 {
    .heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

// Global Section Styles

.section-heading, .section-subheading {
    font-weight: normal;
}
.section-heading {
    font-family: $main-heading;
    color: $gray-dark;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
}
.section-subheading {
    font-family: $sub-heading;
    font-size: 32px;
    color: $gray-dark;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 150px;
}
.section-icon {
    font-family: $icon-font;
    font-size: 250px;
    color: white;
    display: block;
    margin-top: -100px;
 }

section {
    padding: 100px 0;
    .section-divider {
        display: block;
        font-family: $icon-font;
        font-size: 50px;
        color: $brand-primary;
        margin: 35px 0;
    }
    .page-scroll .fa {
        color: $gray-dark;
        font-size: 40px;
        display: block;
        text-align: center;
        margin: 55px 0;
    }
    .page-scroll:hover {
        text-decoration: none;
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}

// Buttons

.btn-primary {
    .button-variant(white; $brand-primary; $brand-primary);
    .heading-font;
    font-weight: 700;
}

.btn-xl {
    .button-variant(white; $brand-primary; $brand-primary);
    .heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Carousel Indicators

.carousel-indicators {
    li {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 15px;
    }
    .active {
        width: 15px;
        height: 15px;
        border-radius: 15px;
    }
}

// Dining Club

.diningclub {
    background: $gray-dark !important;
    color: $gray-light !important;
    p {
        padding: 25px 0;
    }
    h2 {
        color: white;
        span {
            font-family: $icon-font;
            text-transform: lowercase;
            font-size: 80px;
        }
    }
    h3 {
        margin-bottom: 0;
        color: white !important;
    }
    input[type="text"],input[type="email"] {
        border: 0;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px dotted gray;
        font: 19px $body-font;
    }
    input[type="submit"] {
        background: white;
    }
    .btn {
        margin-top: 25px;
        color: black;
    }
    .close-modal {
        .lr, .rl {
            background-color: $gray !important;
        }
    }
    .modal-content {
        background: transparent !important;
    }
}

// Navigation Bar

.navbar-default {
    background-color: $nav-bg;
    border-color: transparent;
    border-radius: 0;
    position: relative;
    .navbar-brand {
        position: absolute;
        display: block;
        top: 0px !important;
        width: 180px;
        left: 50%;
        margin-left: -90px !important; /* 50% of .navbar-brand width */
        text-align: center;
        img {
        margin: 0 auto;
        display: block;
        }
        span {
        display: block;
        color: $gray-dark;
        font-family: $sub-heading;
        font-size: 32px;
        margin-top: 25px;
        }
    }
    .navbar-collapse {
        border-color: fade(white, 2%);
    }
    .navbar-toggle {
        background-color: $brand-primary;
        border: none;
        .icon-bar {
            background-color: white;
        }
        &:hover,
        &:focus {
            background-color: $brand-primary;
        }
    }
    .nav {
        li {
            a {
                font-family: $nav-font;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 1px;
                color: $gray-dark;
                &:hover,
                &:focus {
                    color: $brand-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $brand-primary;
        &:hover,&:focus {
            color: white;
            background-color: darken($brand-primary, 10%);
        }
    }
}

.navbar-shrink {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

// Header

header {
    text-align: center;
    color: white;
    .carousel, .item, .active, .carousel-inner {
        height: 100%;
    }
    .item {
        .fill {
            width: 100%;
            height: 100%;
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            position: absolute;
            z-index: -1;
        }
        .row, .col-sm-8 {
            height: 100%;
        }
        .slide-content {
            position: absolute;
            left: 0;
            right: 0;
            margin-top: -250px;
            top: 50%;
        }
    }
    .carousel-control .fa {
        z-index: 5;
        display: inline-block;
        font-size: 100px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .btn-circle {
        position: absolute;
        bottom: 5%;
        width: 70px;
        height: 70px;
        margin-top: 15px;
        margin-left: -35px;
        padding: 7px 16px;
        border: 2px solid $light;
        border-radius: 35px;
        font-size: 40px;
        color: $light;
        background: transparent;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        &:hover,
        &:focus {
            outline: none;
            color: $light;
            background: fade($light, 10%);
        }
        i.animated {
            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 1s;
            -moz-transition-property: -moz-transform;
            -moz-transition-duration: 1s;
        }
        &:hover {
            i.animated {
                -webkit-animation-name: pulse;
                -moz-animation-name: pulse;
                -webkit-animation-duration: 1.5s;
                -moz-animation-duration: 1.5s;
                -webkit-animation-iteration-count: infinite;
                -moz-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
            }
        }
    }
}

// Introduction section

#intro {
    .section-heading {
        max-width: 650px;
        margin: 0 auto;
    }
    .section-subheading {
        max-width: 420px;
        margin: 0 auto;
        span {
            font-size: 52px;
        }
    }
    .page-scroll {
        margin-top:50px;
        display: block;
    }
}

// Unique section

#unique {
    z-index: 1;
    color: #fff;
    padding: 25px 0;
    background: no-repeat center center scroll;
    background-attachment: fixed;
    .background-cover;
    .section-heading,.section-subheading {
        color: #fff;
        font-size: 35px;
    }
    .section-subheading {
        font-family: $body-font;
        font-weight: bold;
        font-style: normal;
    }
    .fa {
        color: #fff;
    }
}

// Restaurants section

#restaurants {
    background: #e0ded9;
    a {
        color: $gray-dark;
    }
    a:hover {
        color: $brand-primary;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-family: $main-heading;
        font-size: 26px;
        color: $gray;
        li {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

// -------------
// Menus section
// -------------

#menus {
    z-index: 1;
    color: #fff;
    padding: 150px 0;
    background: no-repeat center center scroll;
    background-attachment:fixed;
    .background-cover;
    .section-heading,.section-subheading {
        color: #fff;
    }
    .fa {
        color: #fff;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom:15px;
            a {
                font-family: $main-heading;
                color: white;
                font-size: 28px;
                font-weight: normal !important;
            }
        }
    }
}

// --------------------
// Book a table section
// --------------------

#book {
    h3 {
        margin: 45px 0;
    }
    input[type="text"],input[type="email"] {
        border: 0;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px dotted gray;
        font: 19px $body-font;
        box-shadow: none;
    }
    .signup_form {
        margin-top: 55px;
        margin-bottom: 55px;
        p {
            margin: 25px 0;
        }
        .text-danger {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}

// ---------------
// Gallery section
// ---------------

#gallery {
    width: 100%;
    height: auto;
}

// -------------
// Contact section
// -------------

#contact {
    background-color: $gray-light;
    padding: 100px 0;
    .contact-details {
        padding: 50px 0;
        p {
            font: bold 22px $body-font;
        }
        .section-subheading {
            font-family: $main-heading;
            font-size: 25px;
            font-style: normal;
            margin-bottom: 25px;
            position: relative;
            span {
                font-family: $icon-font;
                font-size: 50px;
                color: $brand-primary;
                font-weight: normal;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -10px;
                height: 2px;
                width: 20px;
                border-bottom: 2px solid $brand-primary;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .form-control:focus {
        border-color: $brand-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
       .heading-font;
       font-weight: 700;
       color: $placeholder-text;
    }
    :-moz-placeholder { /* Firefox 18- */
       .heading-font;
       font-weight: 700;
       color: $placeholder-text;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       .heading-font;
       font-weight: 700;
       color: $placeholder-text;
    }
    :-ms-input-placeholder {  
       .heading-font;
       font-weight: 700;
       color: $placeholder-text;
    }
    .text-danger {
        color: $brand-danger;
    }
    .btn {
        margin-bottom: 15px;
    }
}


// -------------
// Google Maps
// -------------

#map {
    padding: 0;
}
#restaurant_map {
    display: block;
    width: 100%;
    height: 250px;
    margin: 0 auto 50px auto;
    .infowin {
        padding:10px 20px;
        p {
            margin-bottom:10px;
            //font-family: Raleway, Arial, sans-serif;
            font-size:16px;
            line-height:24px;
        }
        a {
            color:#F28C83;
        }
        a:hover {
            text-decoration:underline;
        }
    }
}

// -------------
// Footer
// -------------

.footer {
    padding: 80px 0;
    color: rgba(255,255,255,.7);
    background-color: $gray-dark;

    a {
        color: rgba(255,255,255,.7);
        font-family: $sub-heading;
        font-size: 18px;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    p {
        margin: 0;
    }

    .copyright .small {
        font-size: 14px;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            height: 40px;
            width: 40px;
            font-size: 20px;
            line-height: 40px;
            color: $brand-primary;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                color: $dark;
            }
        }
    }
}

// -------------
// Modal
// -------------

.popup-modal {
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        text-align: center;
        background: $gray-light;
        padding: 100px 0;
        .section-icon {
            font-size: 90px;
            color: $gray-dark;
        }
        h3 {
            margin-bottom: 75px;
        }
        p {
            margin-bottom: 30px;
        }
        .item-intro {
            margin: 20px 0 30px;
            .serif-font;
            font-style: italic;
            font-size: 16px;
        }
        .list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
}

.close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        z-index: 9999;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-dark;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-dark;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }

// -------------
// Loading Screen
// -------------

.loading-screen {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 9999;
    position: fixed;
    text-align: center;
    .fa {
        font-size: 40px;
        color: white;
        margin-bottom: 25px;
    }
    h2 {
        font-size: 24px;
        color: $gray;
    }
    h3 {
        color: $gray;
    }
    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top:-150px;
    }
}

// -------------
// Media Queries
// -------------

@media (max-width:1199px) {
    .navbar-brand {
        max-width: 210px;
    }
}

// @media(max-width: 850px) {
//     .diningclub {
//         .close-modal {
//             left: 90%;
//             .lr, .rl {
//                 height: 40px;
//             }
//         }
//     }
// }

@media(max-width:768px) {
    header #hero-carousel .item, #unique, #menus {
        background-attachment: scroll;
    }
    .navbar-nav {
        margin: 0;
    }
}

@media(max-width:991px) {
    .navbar-default .navbar-brand {
        display: none;
    }
    .navbar-default .nav li a {
        font-size: 18px;
    }
    .navbar-right {
        float: left;
    }
    .nav>li>a {
        padding: 10px 20px;
    }
}

@media(max-width:480px) {
    #intro {
        .section-heading {
            font-size: 32px;
            max-width: 100%;
        }
        .section-subheading {
            font-size: 24px;
            max-width: 100%;
            span {
                font-size: 28px;
            }
        }
    }
    #unique {
        .section-heading {
            font-size: 24px;
            max-width: 100%;
        }
        .section-subheading {
            font-size: 18px;
        }
    }

    .modal-content .section-heading {
        font-size: 32px;
    }

    header {
        .carousel-inner .item {
            .slide-content {
                margin-top: -50%;
            }
        }
    }
}

@media(min-width:768px) {

    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            top: -40px;
            img {
                max-width: 150px;
            }
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }

}