#style-guide h1.style-guide, #style-guide h2.style-guide, #style-guide h3.style-guide, #style-guide h4.style-guide, #style-guide h5.style-guide, #style-guide h6.style-guide, #style-guide p.style-guide {
  background-color: white;
  color: green;
  font-family: Consolas, monospace;
  text-align: left;
  margin-left: 1rem; }

#style-guide div.style-guide {
  border: 1px solid green;
  margin: auto;
  max-width: 60em; }

#style-guide div.style-guide-map {
  height: 50vh; }

#style-guide md-divider.style-guide {
  margin-top: 1rem; }

/*# sourceMappingURL=styleguide.css.map */
