<!--
@author    Lien Mergan
@copyright Copyright © 2014-2015 Artevelde University College Ghent
-->
<md-toolbar>
    <div class="md-toolbar-tools">
        <h1><i class="fa fa-car"></i> Driver Profile</h1>
        <span flex></span>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <form action="" name="registration_form">
        <section>
            <p>I&rsquo;m best described as a:</p>
            <md-radio-group name="driver_role" ng-model="vm.driver.role" required>
                <md-radio-button value="beginner" aria-label="beginner">beginner</md-radio-button>
                <md-radio-button value="expert" aria-label="expert">expert</md-radio-button>
                <md-radio-button value="professional" aria-label="professional">professional</md-radio-button>
            </md-radio-group>
            <ng-messages for="registration_form.driver_role.$error" class="error">
                <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
            </ng-messages>
        </section>

        <!-- http://microformats.org/wiki/h-adr -->

        <section>
            <md-subheader class="md-accent centered">Car details</md-subheader>
            <div layout="row">
                <md-input-container flex>
                    <label>Model</label>
                    <input type="text" name="car_model" ng-model="vm.driver.car" required>
                    <ng-messages for="registration_form.address_street.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex>
                    <label>Available seats</label>
                    <input type="text" name="car_seats" ng-model="vm.driver.driverseats" required>
                    <ng-messages for="registration_form.address_street.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
            </div>
        </section>

        <section>
            <md-subheader class="md-accent centered">Registered Address</md-subheader>
            <div layout="row">
                <md-input-container flex>
                    <label>Street</label>
                    <input type="text" name="address_street" ng-model="vm.address.street" required>
                    <ng-messages for="registration_form.address_street.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex>
                    <label>Street (additional details)</label>
                    <input type="text" name="address_extended" ng-model="vm.address.extended">
                    <ng-messages for="registration_form.address_extended.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
            </div>

            <div layout="row" layout-sm="column">
                <md-autocomplete required flex
                                 md-input-name="postal_code"
                                 md-selected-item="vm.$$locality.$$selected"
                                 md-search-text="vm.$$locality.$$searchTextPostalCode"
                                 md-items="locality in vm.$$locality.$$searchByPostalCode()"
                                 md-item-text="locality.postal_code"
                                 md-floating-label="Postal Code">
                    <md-item-template>
                        <span md-highlight-text="vm.$$locality.$$searchTextPostalCode">{{ locality.postal_code }} {{ locality.name }}</span>
                    </md-item-template>
                    <md-not-found>Postal code {{ vm.$$locality.$$searchTextPostalCode }} not found.</md-not-found>
                    <ng-messages for="registration_form.postal_code.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>

                <md-autocomplete required flex
                                 md-input-name="locality"
                                 md-selected-item="vm.$$locality.$$selected"
                                 md-search-text="vm.$$locality.$$searchTextName"
                                 md-items="locality in vm.$$locality.$$searchByName()"
                                 md-item-text="locality.name"
                                 md-floating-label="Locality">
                    <md-item-template>
                        <span md-highlight-text="vm.$$locality.$$searchTextName">{{ locality.postal_code }} {{ locality.name }}</span>
                    </md-item-template>
                    <md-not-found>Locality `{{ vm.$$locality.$$searchTextName }}` not found.</md-not-found>
                    <ng-messages for="registration_form.locality.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>
            </div>

            <div layout="row" layout-sm="column">
                <md-autocomplete required flex
                                 md-autoselect
                                 md-input-name="region"
                                 md-selected-item="vm.$$region.$$selected"
                                 md-search-text="vm.$$region.$$searchTextName"
                                 md-items="region in vm.$$region.$$searchByName()"
                                 md-item-text="region.name"
                                 md-floating-label="Region">
                    <md-item-template>
                        <span md-highlight-text="vm.$$region.$$searchTextName">{{ region.name }}</span>
                    </md-item-template>
                    <md-not-found>Region `{{ vm.$$region.$$searchTextName }}` not found.</md-not-found>
                    <ng-messages for="registration_form.region.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>

                <md-autocomplete required flex
                                 md-autoselect
                                 md-input-name="country"
                                 md-selected-item="vm.$$country.$$selected"
                                 md-search-text="vm.$$country.$$searchTextName"
                                 md-items="country in vm.$$country.$$searchByName()"
                                 md-item-text="country.name"
                                 md-floating-label="Country">
                    <md-item-template>
                        <span md-highlight-text="vm.$$country.$$searchTextName">{{ country.name }}</span>
                    </md-item-template>
                    <md-not-found>Country `{{ vm.$$country.$$searchTextName }}` not found.</md-not-found>
                    <ng-messages for="registration_form.country.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>
            </div>
        </section>

    </form>
    <footer layout layout-align="space-between end">
        <md-button href="#/registration/step/2/of/4">
            &lt; Go back
        </md-button>
        <md-button class="md-raised md-accent" ng-click="vm.processFormStep($event)">
            Continue &gt;
        </md-button>
    </footer>
</md-content>