<md-content class="md-padding view splash" layout="column" layout-align="center center">
	<div>
		<h1 class="md-headline centered">Thank you!</h1>
	</div>
	<div>
		<p>We&rsquo;re processing your data! Click on the logo to continue.</p>
	</div>
	<div>
		<p><a href="#/log-in"><img class="logo" src="images/logo_traftrav_app.svg" alt="Logo"></a></p>
	</div>
</md-content>
