// Colour Palette
// --------------

$smu-bgc-primary: rgb(53, 56, 61);
$smu-c-primary  : rgb(39, 162, 191);
$smu-c-normal   : rgb(255, 255, 255);
$smu-c-accent   : rgb(159, 188, 58);
$smu-c-warning  : rgb(242, 158, 79);
$smu-c-alert    : rgb(239, 80, 77);
$smu-error      : rgb(239, 80, 77);
