<!--
@author    Lien Mergan
@copyright Copyright © 2014-2015 Artevelde University College Ghent
-->

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
            <md-icon md-font-icon="fa fa-bars"></md-icon>
        </md-button>
        <h1>Drivers</h1>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <h2>Overview</h2>
    <table ng-controller="DriversCtrl">
        <thead>
        <tr>
            <th class="col-1">Driver experience level</th>
            <th class="col-2">Available car seats</th>
            <th class="col-3">Car model</th>
        </tr>
        </thead>
        <tbody ng-repeat="driver in drivers">
        <tr>
            <td>{{driver.role}}</td>
            <td>{{driver.driverseats}}</td>
            <td>{{driver.car}}</td>
        </tr>
        </tbody>
    </table>
</md-content>