<!--
@author    Lien Mergan
@copyright Copyright © 2014-2015 Artevelde University College Ghent
-->

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
            <md-icon md-font-icon="fa fa-bars"></md-icon>
        </md-button>
        <h1>Your User Profile</h1>
    </div>
</md-toolbar>
<md-content class="md-padding" ng-controller="UserUpdateCtrl">
    <form name="edit_user_form">
        <section>
            <md-subheader class="md-accent centered">Personal details</md-subheader>
            <md-input-container>
                <label>Username</label>
                <input type="text" name="name" ng-model="vm.user.name" required>
                <ng-messages for="edit_user_form.name.$error">
                    <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                </ng-messages>
            </md-input-container>

            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>First name</label>
                    <input type="text" name="given_name" ng-model="vm.user.given_name">
                    <ng-messages for="edit_user_form.given_name.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
                <md-input-container flex>
                    <label>Last name</label>
                    <input type="text" name="family_name" ng-model="vm.user.family_name" required>
                    <ng-messages for="edit_user_form.family_name.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
            </div>

            <div layout="row" layout-sm="column">
                <label>Gender:</label>
                <md-radio-group id="gender" ng-model="vm.user.gender" layout="row" layout-sm="row">
                    <md-radio-button value="FEMALE" aria-label="female" flex>
                        <md-icon md-font-icon="fa fa-venus"></md-icon>
                    </md-radio-button>
                    <md-radio-button value="MALE" aria-label="male" flex>
                        <md-icon md-font-icon="fa fa-mars"></md-icon>
                    </md-radio-button>
                    <md-radio-button value="OTHER" aria-label="other" flex>
                        <md-icon md-font-icon="fa fa-transgender"></md-icon>
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>
                        <md-icon md-font-icon="fa {{ vm.settings.share_birthday ? 'fa-eye' : 'fa-eye-slash' }}"></md-icon>
                        Birthday
                    </label>
                    <input type="date" name="birthday" ng-model="vm.user.$$getSetBirthday" ng-model-options="{ getterSetter: true }">
                    <ng-messages for="registration_form.birthday.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
                <md-switch ng-show="vm.user.birthday" ng-model="vm.settings.share_birthday" aria-label="Share birthday" flex>
                    Share
                </md-switch>
            </div>
        </section>

        <section>
            <md-subheader class="md-accent centered">Contact details</md-subheader>
            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>
                        <md-icon md-font-icon="fa {{ vm.settings.share_mobile ? 'fa-eye' : 'fa-eye-slash' }}"></md-icon>
                        Mobile phone
                    </label>
                    <input type="tel" ng-model="vm.user.mobile">
                </md-input-container>
                <md-switch ng-show="vm.user.mobile" ng-model="vm.settings.share_mobile" aria-label="Share mobile" flex>
                    Share
                </md-switch>
            </div>

            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>
                        <md-icon md-font-icon="fa {{ vm.settings.share_email ? 'fa-eye' : 'fa-eye-slash' }}"></md-icon>
                        Email
                    </label>
                    <input type="email" name="email" ng-model="vm.user.email">
                    <ng-messages for="edit_user_form.email.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
                <md-switch ng-show="vm.user.email" ng-model="vm.settings.share_email" aria-label="Share email" flex>
                    Share
                </md-switch>
            </div>
        </section>

        <section>
            <md-subheader class="md-accent centered">Registered Address</md-subheader>
            <div layout="row">
                <md-input-container flex>
                    <label>Street</label>
                    <input type="text" name="address_street" ng-model="vm.address.street">
                    <ng-messages for="edit_user_form.address_street.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex>
                    <label>Street (additional details)</label>
                    <input type="text" name="address_extended" ng-model="vm.address.extended">
                    <ng-messages for="edit_user_form.address_extended.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-input-container>
            </div>

            <div layout="row" layout-sm="column">
                <md-autocomplete flex
                                 md-input-name="postal_code"
                                 md-selected-item="vm.$$locality.$$selected"
                                 md-search-text="vm.$$locality.$$searchTextPostalCode"
                                 md-items="locality in vm.$$locality.$$searchByPostalCode()"
                                 md-item-text="locality.postal_code"
                                 md-floating-label="Postal Code">
                    <md-item-template>
                        <span md-highlight-text="vm.$$locality.$$searchTextPostalCode">{{ locality.postal_code }} {{ locality.name }}</span>
                    </md-item-template>
                    <md-not-found>Postal code {{ vm.$$locality.$$searchTextPostalCode }} not found.</md-not-found>
                    <ng-messages for="edit_user_form.postal_code.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>

                <md-autocomplete flex
                                 md-input-name="locality"
                                 md-selected-item="vm.$$locality.$$selected"
                                 md-search-text="vm.$$locality.$$searchTextName"
                                 md-items="locality in vm.$$locality.$$searchByName()"
                                 md-item-text="locality.name"
                                 md-floating-label="Locality">
                    <md-item-template>
                        <span md-highlight-text="vm.$$locality.$$searchTextName">{{ locality.postal_code }} {{ locality.name }}</span>
                    </md-item-template>
                    <md-not-found>Locality `{{ vm.$$locality.$$searchTextName }}` not found.</md-not-found>
                    <ng-messages for="edit_user_form.locality.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>
            </div>

            <div layout="row" layout-sm="column">
                <md-autocomplete flex
                                 md-autoselect
                                 md-input-name="region"
                                 md-selected-item="vm.$$region.$$selected"
                                 md-search-text="vm.$$region.$$searchTextName"
                                 md-items="region in vm.$$region.$$searchByName()"
                                 md-item-text="region.name"
                                 md-floating-label="Region">
                    <md-item-template>
                        <span md-highlight-text="vm.$$region.$$searchTextName">{{ region.name }}</span>
                    </md-item-template>
                    <md-not-found>Region `{{ vm.$$region.$$searchTextName }}` not found.</md-not-found>
                    <ng-messages for="edit_user_form.region.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>

                <md-autocomplete flex
                                 md-autoselect
                                 md-input-name="country"
                                 md-selected-item="vm.$$country.$$selected"
                                 md-search-text="vm.$$country.$$searchTextName"
                                 md-items="country in vm.$$country.$$searchByName()"
                                 md-item-text="country.name"
                                 md-floating-label="Country">
                    <md-item-template>
                        <span md-highlight-text="vm.$$country.$$searchTextName">{{ country.name }}</span>
                    </md-item-template>
                    <md-not-found>Country `{{ vm.$$country.$$searchTextName }}` not found.</md-not-found>
                    <ng-messages for="edit_user_form.country.$error">
                        <ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
                    </ng-messages>
                </md-autocomplete>
            </div>
        </section>

        <section>
            <md-subheader class="md-accent centered">Collaborate</md-subheader>
            <p>Do you want to collaborate with other users?</p>
            <md-switch flex ng-model="vm.settings.want_to_collaborate" aria-label="Wish to collaborate">
                {{ vm.settings.want_to_collaborate ? 'Yes I do' : 'No I do not' }}.
            </md-switch>
        </section>
    </form>
    <footer layout layout-align="space-between end">
        <md-button href="#/users">
            &lt; Go back
        </md-button>
        <md-button class="md-raised md-accent" ng-click="vm.processFormStep($event)">
            Save
        </md-button>
    </footer>
</md-content>