<md-content class="md-padding view splash" layout="column" layout-align="center center">
	<div>
		<p><a href="#/log-in"><img class="logo" src="images/logo_traftrav_app.svg" alt="Logo"></a></p>
	</div>
	<div>
		<h1 class="md-headline centered">Welcome!</h1>
	</div>
	<div>
		<p>Thank you for downloading this app!</p>
		<p>Please select one of these options to continue:<br>
			<a class="md-button md-default-theme md-accent" href="#/registration/step/1/of/4">Sign up</a> <a class="md-button md-default-theme md-accent" href="#/log-in">log in</a>
		</p>
	</div>
</md-content>
