<md-toolbar>
	<div class="md-toolbar-tools">

		<h1><i class="fa fa-user"></i> User Account Settings</h1>
		<span flex></span>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<form action="" name="update_form">
		<md-input-container>
			<label>Username</label>
			<input type="text" name="name" ng-model="vm.user.name" required>
			<ng-messages for="update_form.name.$error">
				<ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
			</ng-messages>
		</md-input-container>

		<div layout="row" layout-sm="column">
			<md-input-container flex>
				<md-input-container>
					<label>New password</label>
					<input type="password" name="password" ng-model="vm.user.password" required>
					<ng-messages for="update_form.password.$error">
						<ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
					</ng-messages>
				</md-input-container>
			</md-input-container>
			<md-input-container flex>
				<md-input-container>
					<label>Confirm password</label>
					<input type="password" name="password_confirm" ng-model="vm.user.$$password" required smu-match-model="vm.user.password">
					<ng-messages for="update_form.password_confirm.$error">
						<ng-messages-include src="templates/validation-messages.partial.html">
					</ng-messages>
				</md-input-container>
			</md-input-container>
		</div>

		<div layout="row" layout-sm="column">
			<md-input-container flex>
				<label>Biography</label>
				<textarea ng-model="vm.user.biography" name="biography" columns="1" md-maxlength="140"></textarea>
				<ng-messages for="update_form.biography.$error">
					<ng-messages-include src="templates/validation-messages.partial.html"></ng-messages-include>
				</ng-messages>
			</md-input-container>
		</div>
	</form>
	<footer layout layout-align="space-between end">
		<md-button class="md-raised md-accent" ng-click="vm.update($event)">
			Update
		</md-button>
		<md-button href="#/settings">
			Cancel
		</md-button>
	</footer>
</md-content>
